<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="datn.bkdn.com.saywithvideo" >

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.microphone"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activity.SoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoriteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaptureVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RecordNewSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditAudioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShowVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ShareActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1234"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.ImportSoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>